.hinh{
    position: relative  ;
}
img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.tieude{

    position: absolute;
    color: aliceblue;
   
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;

    font-style: normal;
 

   
      
}
h1{
   
    font-size: 50px;
    
}
p{
    font-size: 25px;
}