#nen{
    background-image: url(../img/hinh-nen-Noel-CareerBuilder-7.jpg);
    height: 100vh;
    width: 100vw;
    background-position: center;
    /* object-fit: cover; */
  
    background-size: cover;
    background-repeat: no-repeat;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,p{
    color: aliceblue;
    
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;

    font-style: normal;
 

   
      
}
h1{
    font-size: 50px;
    
}
p{
    font-size: 25px;
}